<% if (typeof success !== "undefined" && success.length > 0) { %>
    <% success.forEach(msg => { %>
        <div class="alert alert-success">
            <%= msg %>
        </div>
    <% }) %>
<% } %>

<% if (typeof error !== "undefined" && error.length > 0) { %>
    <% error.forEach(msg => { %>
        <div class="alert alert-danger">
            <%= msg %>
        </div>
    <% }) %>
<% } %>
